<!-- /////////////////////////////////////////////////////////////////////////////////////// -->

<body>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Export</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="example23" class="display nowrap table table-hover table-bordered animated fadeIn" cellspacing="0" width="100%">
                            <thead>
                                <tr style="font-weight: bold;">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Puesto</th>
                                    <th>Genero</th>
                                    <th>Estatus</th>
                                    <th>Herramientas</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let user of usuarios">
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.job }}</td>
                                    <td>{{ user.gender }}</td>
                                    <td>{{ user.status }}</td>
                                    <td> <button class="btn btn-danger" (click)="borraUsuario( user )">Borrar</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>